.img {
  width: 280px;
}
.meee {
  color: black;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.uiu {
  width: 300px;
  font-style: italic;
  font-weight: 200;
  color: deeppink;
}
