.gg {
  width: 150px;
  border-radius: 300px;
  margin-left: 20rem;
  margin-top: 2rem;
}
nav {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: black;
  margin-top: 20rem;
  margin-bottom: 20rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-top: 5rem;
}
h1 {
  color: wheat;
  text-align: center;
}
h3 {
  color: rgb(21, 200, 90);
  text-align: center;
}
p {
  color: wheat;
  text-align: center;
}
.git {
  color: tomato;
  background-color: rgb(139, 215, 192);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.end {
  color: rgb(99, 99, 217);
  border-radius: 5px;
  background-color: rgb(139, 215, 192);
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}
.x {
  color: wheat;
  border-radius: 5px;
  background-color: rgb(139, 215, 192);
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.in {
  color: wheat;
  background-color: rgb(139, 215, 192);
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}
.gram {
  color: wheat;
  background-color: rgb(139, 215, 192);
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}
